.ios, .md {
 
    page-home {
 
        .scroll-content {
            background-color: map-get($colors, light);
            padding: 0px;
            margin-top: 70px;
        }
        ion-list.border.list.list-md {
            margin-left: 4%;
            margin-bottom: -5%;
            margin-top: 22%;
        }
        .login {
            padding: 10px;
            margin-top: 14%;
            top: 20%;
            left: 4%;
        }
        ion-card-header {
            font-weight: bold;
        }
        img{
            margin-left: 34%;
            margin-right: 34%;
            margin-bottom: 5%;
            //margin-left: 38%;
        }
        .or {
            text-align: center;
            margin: 3%;
        }
        ion-list.border.list.list-md {
            // border: solid black 2px;
        }
        .welcome-text {
            text-align: center;
        }
        span.name {
            size: 8px;
            font-size: 25px;
            color:#f53d3d; 
        }

        .no-student {
            text-align: center;
        }

        .scroll-content, .md page-home .scroll-content {
            background-color: #ffffff;
        }

        ion-input.input.input-md {
            background-color: #f7f7f7;
        }

        ion-item.item.item-block.item-md.item-input.input-has-value.item-input-has-value.ng-dirty.ng-valid.ng-touched, .md page-home ion-item.item.item-block.item-md.item-input.input-has-value.item-input-has-value.ng-dirty.ng-valid.ng-touched {
            margin-bottom: 18px;
        }

        .item-md {
            margin-bottom: 18px;
        }

        .item-md.item-block .item-inner {
            padding-right: 0px;
        }

        .item-md {
            padding-right: 0px;
            padding-left : 0px;
        }
        .list-md {
            width: 90%;
        }
        input.text-input.text-input-md {
            text-align: center;
        }
        button.login.button.button-md.button-default.button-default-md.button-full.button-full-md {
            background-color: #06bebe;
            width: 90%;
            height: 60px;
            border-radius: 68px;
        }

        .get-started {
            color: #06bebe;
            margin-top: 20px;
            left: 10%;
            text-align: center;
        }

        .first-cont {
            width: 100%;
            height: 87px;
            background-color: #181f29;
        }
        
        img {
            margin-top: -15%;
        }
        
        .second-cont {
            width: 100%;
            height: 100%;
            background-color: #2b323a;
            margin-top: -17%;
            text-align: center;
            color: white;
            padding-top: 22%;
            padding-bottom: 10%;
            font-weight: 700;
        }
        
        
        ion-icon.icon.icon-md.ion-md-plus {
            content: ' \25CF';
            //border: 2px solid;
            border-radius: 50%;
            //border-color: #06bebe;
            background-color: #181f29;
            width: 50px;
            padding: 9px;
            text-align: center;
            vertical-align: middle;
            height: 50px;
            margin-top: -27px;
        }

        .ion-md-plus:before {
            color: #06bebe;
        }

        ion-col.bar-header.col {
            text-align: left;
            font-size: 1.5rem;
            opacity: 0.7;
        }

        ion-grid.grid {
            padding: 10px;
            margin-bottom: 10%;
        }
       
        ion-col.value.col {
            margin-right: 0px;
            text-align: right;
            margin-left: -81%;
            margin-top: -5px;
            opacity: 0.7;
        }

        ion-col.bar.col {
            background-color: #f7f7f7;
            border-radius: 30px;
            padding: 0;
        }

        ion-row.row {
            height: 12px;
            margin-top: 23px;
        }

        .bar-value {
            background-color: #06bebe;
            height: 97%;
            border-radius: 9px;
        }

        .mark{
            width: 90%;
        }

        .attendance{
            width: 93%;
        }

        .club{
            width: 68%;
        }

        .sports{
            width: 55%;
        }
    }
 
}