<ion-menu [content]="content">
  <!-- <ion-header>
    <ion-toolbar>
      <div class="item-avatar profile-head ">
        <img *ngIf="user.name!=''" src="assets/imgs/adam.jpg" />
        <ion-title class="user-name">{{user.name}}</ion-title>
      </div>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="nav">
    <ion-list>
      <button class="nav-menu" menuClose nav-bar ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon (click)="addStudent()" class="home-plus nav" name="{{p.icon}}"></ion-icon><span class="nav-title">{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>