page-add-student {
    ion-label.meedium-lab.label.label-md{
    color: #999;
    margin: 13px 8px 13px 14px;
    font-size: 17px;
    }

    ion-list.border.list.list-md{
        border: solid black 2px;
    }
}
